h1 {
  color: #66CCFF;
}

h2 {
  font-style: underlined;
}

h3 {
  color: #CC0000;
  font-weight: bolder;
}

.hate {
  font-weight: bold;
}
p.blue {
  color: blue;
}
p.red {
  color: red;
}
p.yellow {
  color: yellow;
}
