
h1 {
  text-align: center;
}

.Column {
  width: 300px;
  float: left;
}

.Colored-Sidebar {
  width: 30%;
  height: 10%;
  float: right;
  background-color: yellow;
}

h3 {
  text-align: center;
}

img {
  float: left;
  width: 304px;
  height: 304;
}

p.bold {
  font-weight: bold;
}

.blue {
  color: blue;
}
